  <li>
    <span>
      <i class="fa fa-trash"></i>
      
    </span>
    <%if task.done%>    
      <i class="completed"><%=task.title%></i>
    <%else%>            
      <i><%=task.title%></i>
    <%end%>      
  </li>

