<div class="col-sm-3 single-post-card" id=<%= project_path(project.id) %>>
  <div class="card">
    <div class="card-block">
      <h4 class="project-text">
        <%= truncate(project.title, :length => 60) %>
      </h4>
      <div class="project-content">
        <h3><%= project.title %></h3> 
      </div>
    </div>
  </div><!-- card -->
</div><!-- col-sm-3 -->